mynsb.nsbvisions.com {
        proxy /api 35.244.66.186:8080 {

                except /static
        }

        redir 302 {
                if {path} is /
                / /static
        }

}